<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/pokestyle.css">
    <title>Pokemon</title>
  </head>
  <body>
    <h1><a href="/">Pokemon</a></h1>

    <%= yield %>

  </body>
</html>
